.pulse-marker {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(125, 211, 192, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(125, 211, 192, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(125, 211, 192, 0);
  }
}

.pulse-marker:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
